.rounded-pill {
  border-radius: 50%;
 }

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stockCard {
  width:350px;
  border:1px solid transparent !important;
}

.stockCard:hover {
  border: 1px solid #0d6efd !important;
  background: #dbe8fc;
}

h3, h4, h6 {
  background: -webkit-linear-gradient(45deg, #0342a6, #0d6efd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}