.fa-twitter:hover{
  color:#1DA1F2 !important;
}

.fa-youtube:hover{
  color:#FF0000 !important;
}

.fa-instagram:hover{
  color:#e95950 !important;
}

.fa-envelope:hover{
  color:#0d6efd !important;
}


