.top-buffer { margin-top:20px; }

.card {display:inline-block;}

.stock-boy-caption {
    width: 500px;
}

@media (max-width: 480px) and (min-width: 350px) { 
    .stock-boy-caption {
      width: 300px;
    }
}
  
@media (max-width: 350px) { 
    .stock-boy-caption {
      width: 250;
    }
}